<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyDrawing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A27095351D0AC6FA00FA501A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A270954E1D0AC6FA00FA501A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A27095591D0AC6FA00FA501A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
